.profile-photo {
    grid-column: 1;
    grid-row: 1/-1;
    border-radius: 1rem;
    overflow: hidden;
}

.profile-photo > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}