:root {
    --main-bg-color: #ffffff;
    --page-wrapper-bg-color: #000000;
    --fonts-main-color: #ffffff;
    --card-wrapper-bg-color: #1d1d1d;
    --button-text-color: #4b4b49;
    --button-bg-color: #000000;
}